[submodule "Klak"]
	path = Klak
	url = https://github.com/barbelot/klak
[submodule "UnityBoids"]
	path = UnityBoids
	url = https://github.com/barbelot/unity-boids
[submodule "FluidSimulation/3D-SPH"]
	path = FluidSimulation/3D-SPH
	url = https://github.com/Barbelot/Unity-FluidSimulation-3D-SPH
[submodule "FluidSimulation/2D"]
	path = FluidSimulation/2D
	url = https://github.com/Barbelot/Unity-FluidSimulation-2D
[submodule "OpticalFlow"]
	path = OpticalFlow
	url = https://github.com/Barbelot/Unity-OpticalFlow
[submodule "Audio/Midi"]
	path = Audio/Midi
	url = https://github.com/Barbelot/Unity-Midi
[submodule "HeightMapRayMarching"]
	path = HeightMapRayMarching
	url = https://github.com/Barbelot/Unity-HeightMapRayMarching
[submodule "PostProcess/SketchDrawing"]
	path = PostProcess/SketchDrawing
	url = https://github.com/Barbelot/Unity-SketchDrawing
[submodule "PostProcess/HybridKuwahara"]
	path = PostProcess/HybridKuwahara
	url = https://github.com/Barbelot/Unity-HybridKuwahara
